{% include 'partials/_header.html' %}
<p class="div-content">Welcome to Flask EV Calculator, where you can use consumer friendly calculators to evaluate the performance of your light electric vehicle. You can choose one of these calculators depending on what aspect of your EV you want to calculate.</p>
<a class="link" href="/range"><span class="linkSpan">Range Calculator</span></a><a class="link" href="/accel"><span class="linkSpan">Acceleration Calculator</span></a> <a class="link" href="/cost"><span class="linkSpan">Commuting Cost Calculator</span></a><br><br>
{% include 'partials/_footer.html' %}
